<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.futurewatch.truthorlietv">


    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

<!--        Wi-fi-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"
        android:required="false"
        tools:ignore="WifiPermission" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"
        android:required="false"
        tools:ignore="WifiPermission" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        android:required="false"
        tools:ignore="LocationPermission" />
<!--    Storage-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Foreground  -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"
        tools:ignore="ProtectedPermissions" />
    <!-- Notification  -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!--  optimized background operation -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".TruthOrLieApplication"
        android:allowBackup="true"
        android:banner="@mipmap/ic_launcher"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TruthorLieTV">
        <activity
            android:name=".PurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".LeaderboardActivity"
            android:exported="false" />
        <activity
            android:name=".FinalResultsActivity"
            android:exported="false" />
        <activity
            android:name=".ResultsActivity"
            android:exported="false" />
        <activity
            android:name=".VotingActivity"
            android:exported="false" />
        <activity
            android:name=".FactsActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerNamesActivity"
            android:exported="false" />
        <activity
            android:name=".PlayerCountActivity"
            android:exported="false" />
        <activity
            android:name=".RoundsActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HowToPlayActivity"
            android:exported="false" />
        <activity
            android:name=".CategoriesActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

<!--        infatica sdk service overridden&ndash;&gt;-->
<!--        <service-->
<!--            android:name="com.infatica.agent.service.Service"-->
<!--            android:exported="true"-->
<!--            android:foregroundServiceType="dataSync"-->
<!--            tools:replace="android:exported" />-->

    </application>

</manifest>